@charset "utf-8";
@import "compass";
@import "variable";
@import "font";
@import "mixin";
@import "bootstrap-theme";


html, body {
	height: 100%;
	width: 100%;
	font-size: 15px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: normal;
}
header {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
	background: #292929 url(../images/top_background.jpg) 50% 0 repeat fixed;
	@include background-size(cover);
}
body > header{
ã€€height: auto;
}
.overlay:after {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAL/gYARxgdzQAAkAOOA2IzIHJAAACAGEAFjDBirAAAAAElFTkSuQmCC") repeat top left;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	@include opacity(0.6);
}
.centralized {
	left: 50%;
	top: 50%;
	float: left;
	position: relative;
	visibility: hidden;
	@include opacity(0);
}
#welcome_content {
	background: $color_base url(/images/redox_01.png) repeat;
	color: #{$color_main};
	@include border-radius(10px);
	padding: 40px;
	border: 1px dotted #{$color_main};
	figure {
		font-size: 120px;
	}
	h1 {
		font-size: 30px;
		margin-top: 0;
		border-bottom: 1px dotted #{$color_second2};
		margin-bottom: 30px;
		padding-bottom: 30px;
		color: #{$color_second1};
	}
	p.hishi{
		margin-top: -51px;
		text-shadow: 0px 0px 8px #{$color_second2};
		color: white;
		font-size: 30px;
	}
	p.text {
		color: #{$color_second1};
	}
	p.sns {
		font-size: 30px; 
		margin-top: 30px;
		a {
			margin: 0 10px;
			@include linkColor($color_sub2);
		}
		a:link, a:visited, a:hover {
			text-decoration: none;
		}
	}
}
.navbar{
	background:#eee url(/images/Texture0203.jpg) repeat;
	opacity: 0;
	min-height: 0;
	@include css3('box-shadow', 0px 2px 6px rgba(0, 0, 0, 0.1));
}

.navbar-nav>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
}
.navbar-brand {
	padding: 5px 15px;
}
.navbar-default {
	border-color: #{$color_main};
	background-color: #{$color_base};
	border-bottom-width: 1px;

}
.navbar-default .navbar-collapse, .navbar-default .navbar-form  {
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #{$color_main};
	background-color: transparent;
	font-weight: bold;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
	color: #{$color_main};
	background-color: transparent;
	font-weight: bold;
}
@media screen and (max-width: 768px) {
	.navbar-brand {
		padding: 15px;
	}
}

footer {
	padding: 20px 0;
	@include box-shadow(rgba(0, 0, 0, 0.2) 0 5px 10px inset);
	background: #{$color_sub2} url(/images/bedge_grunge.png) repeat;
	h2, h3 {
		@include fontsize(20);
		border-bottom: 1px dotted $color_sub2;
		padding-bottom: 5px;
	}
	p {
	}
}
#copyright {
	color: #E9CBCB;
	line-height: 50px;
	background: #{$color_sub1} url(/images/irongrip.png) repeat;
	@include box-shadow(rgba(0, 0, 0, 0.6) 0 5px 10px inset);
}
section {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 3px solid $color_main;
	h1 {
		position:relative;
		padding:5px;
		font-size:30px;
		line-height: 1.6;
		text-align:left;
		color:$color_second1;
		text-shadow:1px 1px 0 rgba(255,255,255,1);
		box-shadow:	0 5px 7px -4px rgba(0,0,0,0.3) inset;
		margin-bottom: 20px;
		margin-top: 0;
		background-color: rgba(0,0,0,0.05);
	}
}
#COURSE {
	background: $color_base url(/images/greyfloral.png) repeat;
	div.header {
	    margin: 40px auto;
	    padding: 20px;
	    position:relative;
	    background: $color_base url(/images/lightpaperfibers.png) repeat;
	    border: 1px solid #ccc;
	    @include box-shadow(rgba(0,0,0, 0.1) 1px 1px 4px);
	    @include border-bottom-right-radius(30px 10px);
    	&:after, &:before {
 	        content: "";
		    position:absolute;
		    width: 130px;
		    height: 40px;
		    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
		    border-left: 1px dashed rgba(0, 0, 0, 0.1);
		    border-right: 1px dashed rgba(0, 0, 0, 0.1);
		    @include box-shadow(rgba(0, 0, 0, 0.2) 0px 0px 12px);
	   	}
    	&:after {
		    top:0;
		    left: 0;
		    @include transform(rotate(-30deg) skew(0,0) translate(-30px,-20px));
        }
        &:before {
		    top:0;
		    right: 0;
		    @include transform(rotate(30deg) skew(0,0) translate(30px,-20px));
        }
        div.row {
        	margin-bottom: 0;
        }
        h4 {
        	color: $color_main;
        	@include fontsize(30);
        	text-align: center;
			text-shadow:1px 1px 0 rgba(0,0,0,0.2);
        }
        table.table {
        	margin-bottom: 0;
        	thead th, thead td {
        		border-bottom: 2px solid #ddd;
        	}
        }
	}
	div.row {
		margin-bottom: 20px;
	}
	p {
		@include fontsize(18);
	}
	p.reserve {
		text-align: center;
		.btn {
			background: $color_second1;
		    @include background-image(linear-gradient(top, $color_second1, darken($color_second1, 3%)));
		    @include filter-gradient($color_second1, lighten($color_second1, 10%), vertical);
		    padding: 15px 40px;
		}
	}
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
		background: url(/images/greyfloral.png) repeat;
		@include box-shadow(rgba(0, 0, 0, 0.2) 0 -6px 15px);
		font-weight: bold;
	}

	figure {
		position: relative;
		&:after {
			z-index: -1;
			position: absolute;
			content: '';
			bottom: 10px;
			left: 10px;
			width: 50%;
			top: 80%;
			max-width: 432px;
			background: #8d8c8c;
			-webkit-box-shadow: 0 15px 10px #8d8c8c;
			-moz-box-shadow: 0 15px 10px #8d8c8c;
			box-shadow: 0 15px 10px #8d8c8c;
			-webkit-transform: rotate(-5deg);
			-moz-transform: rotate(-5deg);
			-o-transform: rotate(-5deg);
			-ms-transform: rotate(-5deg);
			transform: rotate(-5deg);
		}
		&:before {
			z-index: -1;
			position: absolute;
			content: '';
			bottom: 10px;
			right: 10px;
			width: 50%;
			top: 80%;
			max-width: 432px;
			background: #8d8c8c;
			-webkit-box-shadow: 0 15px 10px #8d8c8c;
			-moz-box-shadow: 0 15px 10px #8d8c8c;
			box-shadow: 0 15px 10px #8d8c8c;
			-webkit-transform: rotate(5deg);
			-moz-transform: rotate(5deg);
			-o-transform: rotate(5deg);
			-ms-transform: rotate(5deg);
			transform: rotate(5deg);
		}
	}
}
#THERAPIST {
	background: $color_base url(/images/p6.png) repeat;
	@include fontsize(20);
	line-height: 1.5;
	div.profile_table .row {
		padding-top: 0.5em;
		border-bottom: 1px dotted $color_main;
	}
}
#RESERVE {
	background: $color_base url(/images/tileable_wood_texture.png) repeat;
	table.fc-border-separate {
		background-color: $color_base;
	}

}
#ACCESS {
	background: $color_base url(/images/ice_age.png) repeat;
}
