@charset "utf-8";
@import "variable";
@import "font";
@import "mixin";
@import "bootstrap-theme";


html, body {
	height: 100%;
	width: 100%;
	font-size: 15px;
	color: $color_font;
	background-color: $color_base;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: normal;
}
header {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
	background: #292929 url(../images/top_background.jpg) 50% 0 repeat fixed;
	background-size:cover;
}
body > header{
ã€€height: auto;
}
.overlay:after {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAL/gYARxgdzQAAkAOOA2IzIHJAAACAGEAFjDBirAAAAAElFTkSuQmCC") repeat top left;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity:0.6;
}
.centralized {
	left: 50%;
	top: 50%;
	float: left;
	position: relative;
	visibility: hidden;
	opacity:0;
}
figure.mb12 {
	margin-bottom: 12px;
}

#welcome_content {
	margin-top: 30px;
	background: $color_base url(/images/redox_01.png) repeat;
	color: #{$color_main};
	border-radius:10px;
	padding: 40px;
	border: 1px dotted #{$color_main};
	figure {
		font-size: 120px;
	}
	h1 {
		font-size: 30px;
		margin-top: 0;
		border-bottom: 1px dotted #{$color_second2};
		margin-bottom: 30px;
		padding-bottom: 30px;
		color: #{$color_second1};
	}
	p.hishi{
		margin-top: -51px;
		text-shadow: 0px 0px 8px #{$color_second2};
		color: white;
		font-size: 30px;
	}
	p.text {
		color: #{$color_second1};
	}
	p.sns {
		font-size: 30px;
		margin-top: 30px;
		a {
			margin: 0 10px;
			@include linkColor($color_sub2);
		}
		a:link, a:visited, a:hover {
			text-decoration: none;
		}
	}
}
.navbar{
	background:#eee url(/images/Texture0203.jpg) repeat;
	opacity: 0;
	min-height: 0;
	@include css3('box-shadow', 0px 2px 6px rgba(0, 0, 0, 0.1));
}

.navbar-nav>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
}
.navbar-brand {
	padding: 5px 15px;
}
.navbar-default {
	border-color: #{$color_main};
	background-color: #{$color_base};
	border-bottom-width: 1px;

}
.navbar-default .navbar-collapse, .navbar-default .navbar-form  {
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #{$color_main};
	background-color: transparent;
	font-weight: bold;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
	color: #{$color_main};
	background-color: transparent;
}
@media screen and (max-width: 768px) {
	.navbar-brand {
		padding: 15px;
	}
}

footer {
	padding: 20px 0;
	box-shadow:rgba(0, 0, 0, 0.2) 0 5px 10px inset;
	background: #{$color_sub2} url(/images/bedge_grunge.png) repeat;
	h2, h3 {
		@include fontsize(20);
		border-bottom: 1px dotted $color_sub2;
		padding-bottom: 5px;
	}
	p {
	}
}
#copyright {
	color: #E9CBCB;
	line-height: 50px;
	background: #{$color_sub1} url(/images/irongrip.png) repeat;
	box-shadow:rgba(0, 0, 0, 0.6) 0 5px 10px inset;
}
.background {
	background-color: #fff;
	padding: 100px 0;
}
.line {
	margin: 100px auto;
	text-align: center;
	@media screen and (max-width: 768px) {
		margin: 50px auto;
		& img {
			width: 100%;
			height: auto;
		}
	}
}
.footlogo {
	text-align: center;

}
section {
	padding-top: 20px;
	padding-bottom: 20px;
	h1 {
		background-size: cover;
		height: 250px;
		background-position: center center;
		text-align: center;
		line-height: 250px;
		color: #fff;
		text-shadow: 0px 0px 3px $color_font;
		white-space: nowrap;
		@media screen and (max-width: 768px) {
			font-size: 28px;
			height: 150px;
			line-height: 150px;
		}
	}
	h2 {
		font-size: 30px;
		line-height: 1.5;
		img {
			margin-right: 5px;
			vertical-align: text-bottom;
			width: 30px;
			height: 30px;
		}
		@media screen and (max-width: 768px) {
			font-size: 22px;
		}
	}
	h3 {
		margin: 0 0 20px;
		font-size: 20px;
		line-height: 1.5;
	}
	div.row {
		margin-bottom: 20px;
	}
}
#BODYCARE {
	h1 {
		background-image: url(../images/004.jpg);
	}
}
#TREATMENT {
	h1 {
		background-image: url(../images/044.png);
	}
}
#FACIAL {
	h1 {
		background-image: url(../images/034.png);
	}
}
#THERAPIST {
	h1 {
		background-image: url(../images/008.jpg);
	}
}
#RESERVE {
	h1 {
		background-image: url(../images/049.jpg);
	}
}

#ACCESS {
	h1 {
		background-image: url(../images/068.jpg);
	}
	.map_wrapper {
	  max-width: 640px;
	  min-width: 280px;
	  margin: 20px auto;
	  padding: 4px;
	  border: 1px solid #CCC;
	}

	.googlemap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}
}
